@charset "utf-8";
/* CSS Document by designesia*/

/* ===== general ===== */
body{ font-family:Arial, Helvetica, sans-serif; background:url(../images/bg.png) top center fixed #EEEDE6; line-height:1.35em; font-size:13px; color:#222;}
body,p,h1,h4,h3,h4,h5,h6,ul{margin:0;padding:0;}
img{border:none;}


/* ===== link ===== */
a{ color:#FF3E71; text-decoration:none;}
a:hover{ color:#5D9EC8; text-decoration:none;}
a:active{outline: none;}

/* ===== link button ===== */
a.btn{color:#FFF; background:#FF3E71; padding:7px 10px 5px 10px; display:inline-block; margin-top:20px;}
a.btn:hover{color:#CE1F1F; background:#FFF;}

a.btn.white{float:right; display:block;color:#FF3E71; background:#FFF;}
a.btn.white:hover{color:#FFF; background:#FF3E71; padding:7px 10px 5px 10px; display:inline-block; margin-top:20px;}
.hide_content{ margin-top:-4px;}
.hide_content .inner{ background:#5D9EC8; color:#FFF; padding:20px; z-index:100; width:600px; display:block;}
.plus{width:36px; height:23px; background:url(../images/icon-plus.png) center no-repeat; position: absolute; margin-top:-4px; margin-left:300px; z-index:50;}
.min{width:36px; height:23px; background:url(../images/icon-min.png) center no-repeat; position: absolute; margin-top:-4px; margin-left:300px; z-index:50;}


/* ===== heading ===== */
h1, h4, h3{margin-bottom:10px;}
h3, h4, h5, h6{margin-bottom:12px;}
h1, h4, h3, h4, h5, h6{ font-weight:normal;}
h1 {font-size:36px; line-height:26px;}
h4 {font-size:32px; line-height:23px;}
h3 {font-size:30px; line-height:20px;}
h4 {font-size:28px; line-height:18px;}
h5{font-size:22px; line-height:16px;}
h6 {font-size:18px; line-height:15px;}

#content ul li{ list-style:none;}
.cool-list li{ border-bottom:dotted 1px #B9B7A8; padding:8px 0 8px 20px; background:url(../images/list-1.png) left center no-repeat;}

/* ===== images ===== */
.pic_left{ float:left; margin:0 20px 20px 0;}
.pic_right{ float:right; margin:0 0 20px 20px;}



/* ===== table ===== */
table{ width:100%; border-collapse:collapse;}
thead{border-top:solid 2px #333; background:url(../images/bg-table-header.png) top repeat-x;}
thead td{padding:10px;border-bottom:solid 1px #B9B7A8;}
tbody td{ padding:10px;border-bottom:solid 1px #B9B7A8;}
thead{font-weight:bold;}


/* ===== wrapper ===== */
#wrapper{ width:940px; margin:0 auto;}


/* ===== header & elememts ===== */
#header{ height:185px;}
#header h1{font-size:36px; margin:0px; padding:0px;}
.slogan-big{ float:left; padding-right:20px; padding-top:80px;}
.slogan-small{ float:left; padding-top:0px; padding-top:80px; white-space:nowrap;}


/* ===== line ===== */
.line{ clear:both; height:10px; background:url(../images/pattern-1.png) center repeat-x; height:70px;}


/* ===== main ===== */
#main{width:670px; padding-left:220px;}


/* ===== content ===== */
#content{margin-left:0px; position:static;}
/* #content img{border:solid 10px #FFF;} */
#content img{border:none;}


/* ===== sidebar ===== */
#sidebar{ float:left; padding:40px; height:100%; position:fixed;}


/* ===== columns ===== */
.one_half, .one_third{margin-right:40px;}
.last{ margin-right:0px;}
.one_full{ width:670px; }
.one_half{ width:315px; float:left;}
.one_third{ width:196px; float:left;}


/* ===== LINK ===== */
#mainlogo{margin-bottom:40px;}


/* ===== main menu ===== */
#mainmenu{ font-size:36px; text-align:left;}
#mainmenu ul li{list-style:none; margin-bottom:-2px;}
#mainmenu ul li a{color:#B9B7A8}
#mainmenu ul li a:hover{color:#5D9EC8;}
#mainmenu ul li.active a{color:#FF3E71;}


/* ===== gallery home ===== */
.pf-big{}
.cool_pf{list-style-type:none; padding:0; margin:0;}
.cool_pf li{padding:0; margin-right:40px; margin-bottom:10px; width:640px; list-style:none; padding-bottom:20px;}
.cool_pf li.nomargin{margin-right:0;}
.cool_pf h4{margin-bottom:10px}
.cool_pf .title{position:absolute; width:667px; margin-top:380px; z-index:300;color:#FFF; background:url(../images/shadow-1.png) bottom right no-repeat; height:77px;}
.cool_pf .title h4{ margin:0; padding:0; padding:10px 20px 5px 20px; float:right; text-align:right; background:#FF3E71;  font-size:36px;}
.cool_pf .line{ clear:both; height:10px; background:url(../images/pattern-1.png) top; margin-top:30px;}


/* ===== portfolio 3 column ===== */
.pf_gallery{list-style-type:none; padding:0; margin:0;}
.pf_gallery li{padding:0; margin-right:40px; margin-bottom:20px; width:196px; float:left; list-style:none; padding-bottom:20px;}
.pf_gallery li img{border:solid 10px #FFF; margin-bottom:20px;}
.pf_gallery li.nomargin{margin-right:0;}
.pf_gallery h4{margin-bottom:10px}


/* ===== rollover image style ===== */ 
.pic_hover a .rollover{background:url(../images/icon-hover-1.png) no-repeat center #5D9EC8; display:block; position:absolute; z-index:10; display:none; cursor:pointer;}
.pic_hover a .rollover .text{padding:40px; color:#FFF;}
.cool_pf img{width:620px; height:465px;}
.cool_pf .pic_hover a .rollover{ width:620px; height:465px; margin:0; background-color:#5D9EC8;}
.pf_gallery img{ width:176px; height:131px;}
.pf_gallery .pic_hover a .rollover{ width:176px; height:131px; margin:0; background:url(../images/icon-hover-1.png) no-repeat center #5D9EC8;}


/* ===== span color ===== */
.red{ color:#FF3E71;}
.cream{ color:#B9B7A8;}
.clear{clear:both;}


/* ===== span color ===== */
#footer{ border-top: dotted 1px #B9B7A8; font-size:11px; margin-top:40px; padding-top:10px; padding-bottom:10px;}
#footer .left{float:left; width:50%;}
#footer .right{float:left; width:50%; text-align:right;}


/* ===== page ===== */
.page{text-align:left; font-size:11px; color:#999;}
.blogpage{margin-top:40px;}
.page a:hover{ padding:4px 8px 4px 8px; margin-right:5px; background:#5D9EC8; color:#FFF;}
.page a{ padding:4px 8px 4px 8px; margin-right:5px; background-color:#FF3E71; color:#FFF;}
.page .active a{background:#5D9EC8; color:#FFF;}


/* ===== contact ===== */
#contact label{ display:block; width:120px; float:left;}
#contact input{ display:block; margin-bottom:10px; padding:5px; border:none; border:solid 1px #888; width:384px; background:none;}
#contact input:focus{border:solid 1px #FF3E71;}
#contact textarea{ padding:5px; border:solid 1px #777; width:384px;height:150px; margin-bottom:10px; background:none;}
#contact textarea:focus{border:solid 1px #FF3E71;}
#contact input.btn{ color:#FFF; background:#FF3E71; padding:3px 10px 3px 10px; margin:10px 0 0 120px; font-family:Arial, Helvetica, sans-serif; font-family:Arial, Helvetica, sans-serif; text-transform:uppercase; font-size:11px;border:none; width:60px;}
#contact input.btn:hover{background:#333; color:#FFF;}
#contactform { font-size: 12px; width:300px;}
#contactform input, #contactform textarea {width:100%;font-family:inherit;font-size:12px;padding:5px;}
#contactform textarea {height:100px;}
#send {width:100px !important;font-size: 12px;border:1px solid black;cursor:pointer;cursor:hand;}
#btnsubmit { text-align:right; } 
.error { width:31px; height:31px; background:url(../images/icon-error.png) top left no-repeat; display: none; padding:0 5px 0 5px; color: #FFF; font-size:11px; margin-left:120px; position:absolute; margin-left:520px;}
.success { display:none; padding:0 5px 0 5px; color: #FFF; font-size:11px; background:#333; width:385px; margin-left:120px;}
.error img { vertical-align:top; }


/* ===== comment ===== */
#comment label{ display:block; width:120px; float:left;}
#comment input{ display:block; margin-bottom:10px; padding:5px; border:none; border:solid 1px #888; width:384px; background:none;}
#comment input:focus{border:solid 1px #CE1F1F;}
#comment textarea{ padding:5px; border:solid 1px #777; width:384px;height:150px; margin-bottom:10px; background:none;}
#comment textarea:focus{border:solid 1px #CE1F1F;}
#comment input.btn{ color:#FFF; background:#CE1F1F; padding:3px 10px 3px 10px; margin:10px 0 0 120px; font-family:Arial, Helvetica, sans-serif; font-family:Arial, Helvetica, sans-serif; text-transform:uppercase; font-size:11px;border:none; width:60px;}
#comment input.form-btn{ color:#FFF; background:#CE1F1F; padding:3px 10px 3px 10px; margin:10px 0 0 120px; font-family:Arial, Helvetica, sans-serif; font-family:Arial, Helvetica, sans-serif; text-transform:uppercase; font-size:11px;border:none; width:60px;}
#comment input.btn:hover{background:#333; color:#FFF;}

#comment{margin-top:30px;}
#comment li{list-style:none; margin-bottom:20px;}
ol.comment-list{margin-left:0; padding-left:0;}
.comment-text{background:#FFF; padding:20px; border-left:solid 4px #CE1F1F;}
ol.comment-list ol{margin-top:20px;}
.comment-date{ font-size:11px;}
.comment-by{ font-size:11px; display:inline-block; margin-left:5px;}
.linkreply{font-size:11px; margin-left:5px;}
.sender{ text-align:right;}


/* ===== blog ===== */
#bloglist{margin:0; padding: 0;}
#bloglist li{list-style:none; margin:0; padding: 0; margin-bottom:30px;}
#bloglist .col-1{float:left; width:340px; margin-right:20px; margin-bottom:30px;}
#bloglist .col-2{float:left; width:310px;}
#bloglist .date {width:50px; color:#FFF; background:#CE1F1F; text-align:center; margin-bottom:15px;}
#bloglist .day{display:block; font-size:36px; padding-top:10px;}
#bloglist .month{display:block; font-size:24px; margin-top:-15px; padding-bottom:10px;}
#bloglist .comment-count{ background:url(../images/comment-baloon.png) top center  no-repeat; width:41px; height:42px; text-align:center; padding-top:5px; font-weight:bold; margin-top:15px;}
#bloglist .line{ clear:both; height:10px; background:url(../images/pattern-1.png) top; margin-top:30px;}

.blog-header{margin:0; padding: 0;}
.blog-header .col-1{float:left; width:340px; margin-right:20px; margin-bottom:20px;}
.blog-header .col-2{float:left; width:310px;}
.blog-header .date {width:50px; color:#FFF; background:#CE1F1F; text-align:center; margin-bottom:15px;}
.blog-header .day{display:block; font-size:36px; padding-top:10px;}
.blog-header .month{display:block; font-size:24px; margin-top:-15px; padding-bottom:10px;}
.blog-header .comment-count{ background:url(../images/comment-baloon.png) top center  no-repeat; width:41px; height:42px; text-align:center; padding-top:5px; font-weight:bold; margin-top:15px;}
.blog-header .line{ clear:both; height:10px; background:url(../images/pattern-1.png) top; margin-top:30px;}


/* ===== blockquote ===== */
blockquote{ border:none; border-left:solid 4px #CE1F1F; font-style:italic; background: url(../images/quote.png) top left no-repeat; font-size:13px; margin-right:0px; padding-left:20px; margin-left:20px; font-family:Georgia, "Times New Roman", Times, serif; color:#000;}
.pos_left{float:left; width:50%; margin:0 20px 10px 20px;}


/* ===== social-icons ===== */
#social-icons{position:fixed; bottom:40px; margin-left:40px; z-index:200;}
#social-icons img{margin-right:5px;}


/* ===== map ===== */
.map{ border:solid 10px #FFF;}


/* ===== toTop ===== */
#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	overflow:hidden;
	width:51px;
	height:51px;
	border:none;
	text-indent:-999px;
	background:url(../images/ui.totop.png) no-repeat left top;
}

#toTopHover {
	background:url(../images/ui.totop.png) no-repeat left -51px;
	width:51px;
	height:51px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
	outline:none;
}



/* CSS Document by designesia*/

.dropcap{ width:32px; height:30px; background:url(../images/dropcap.png) center no-repeat; float:left; padding:10px 10px 12px 10px; color:#FFF; font-size:36px; text-align:center; margin:5px 15px 5px 0;}
